<div class="container row">
    <div><br>
        <h3>About Us</h3>
    </div>
    <hr>
    <div class="order">
        <span class="para">Hi FoodBoxers,<br><br>We at <span class="bold">FoodBox</span> strive to fulfil your cravings for the cuisines and delicacies come true. <span  class="bold">FoodBox</span> 
        allows you to order your favourite foods and to deliver them at your doorsteps. With mouth wateringly tasty food List and to mind baffling deals and offers, We at <span  class="bold">FoodBox</span> have them all.
        <br><br>
        Join Us today <span class="bold">@FoodBox</span> and open a new doorway and let your taste-buds explore all the varieties that we have available for you Across all Locations.
        <br><br>
        Your Food is Just One Click away,<br> Yours Truly,<br><span  class="bold">FoodBox</span> 
        </span>
    </div>

</div>