
<div class="container">
    <br>
    <br>
    <p id="err" class="err">{{htmlStr}}</p>
    <div class="row justify-content-center">
            <div class="col-md-6 text-center ">
                <br>
                <h2 class="heading-section">Login</h2>
            </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-5">
            <div class="login-wrap p-4 p-md-5 bground-white">
                <h3 class="text-center">Have an account?</h3>
                
                    <form #loginForm="ngForm" class="login-form" id="login-form">
                        <div class="form-group user-input-wrp ">
                            <br/>
                            <input type="text" class="inputText form-control rounded-left" name="name" [(ngModel)]="user.name" required/>
                            <span class="floating-label">Username</span>
                        </div>
                        <div class="form-group user-input-wrp">
                            <br/>
                            <input type="password" class="inputText form-control rounded-left" name="password" [(ngModel)]="user.password" required/>
                            <span class="floating-label">Password</span>
                        </div>
                       <br>
                        <div class="form-group d-md-flex" style="padding-left:55px">
                            <span> Do not have an account? <a routerLink="register">Sign Up</a></span>
                        </div>
                        
                        <div class="form-group" style="text-align: center;">
                             <button type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()" class="btn btn-primary rounded submit">Login</button>
                        </div>
                    </form>
            </div>
            <br><br>
        </div>
        
    </div>
</div>
<br><br><br><br><br><br><br>