<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div >
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start link-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
              <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
            </svg>  
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">   
              <li>
                <a  routerLink='dashboard'  class="nav-link px-2 link-secondary">Foodbox</a>
              </li>
              
              <li><a routerLink='about' routerLinkActive="activebutton" class="link nav-link px-2 link-dark">About</a></li>
              <li><a routerLink='contact' routerLinkActive="activebutton" class="link nav-link px-2 link-dark">Contact Us</a></li>
              <li><a *ngIf="user.id!=0" routerLink='viewitems'  routerLinkActive="activebutton" class="link nav-link px-2 link-dark">View Food Items</a></li>
              <li><a *ngIf="user.role=='admin'" routerLink='manage' routerLinkActive="activebutton" class="link nav-link px-2 link-dark" id="manageprod">Manage Items</a></li>
            </ul>
          

          <div class="text-end">
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">                 
                  <!--Show only after user logs in-->
                  <li><a *ngIf="user.id!=0" (click)="logout()"  routerLinkActive="activebutton" class="link nav-link px-2 link-dark">Logout</a></li>
                  <li>
                    <a *ngIf="user.id!=0" class="nav-link px-2 link-dark" name="cart" routerLink="cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg></a>
                  </li> 
                  <li  class="nav-link px-2 link-dark">
                  {{user.name}} &nbsp;<span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg></span>
                </li>
                </ul>
          </div>
       </div>
       </div>
      <hr>

      <div class="rounded-3">
        <div class="container-fluid round">
           <router-outlet>

           </router-outlet>
        </div>
      </div>     
    </div>
  </header>
  
      <div class="down container-fluid">
          <app-footer>
        </app-footer>
      </div>



 