
<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="center-page">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div>
                    Sorry, an error has occured, Requested page not found!
                </div>
                <br><br>
                <button routerLink="../login" class="btn btn-primary round">Login Again</button>
            </div>
            
        </div>
    </div>
    <br>

</div>
<br><br><br><br><br>