<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col-sm-12">
            <div class="center-page">
                <h1>
                    Yaay!</h1>
                <h2>
                    Your Order has been Placed !! <br>Happy FoodBoxing</h2>
               
                    <h4>you order will be delivered within an hour to you address.</h4>
               
                <br><br>
                <button routerLink="dashboard" class="btn btn-primary round">Continue to Dashboard</button>
            </div>
            
        </div>
    </div>
    <br>
</div>
<br><br><br>