.user-input-wrp {
	position: relative;
	width: 100%;
}
.user-input-wrp .inputText{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
 	box-shadow: none !important;
}
.user-input-wrp .inputText:hover{
	border-color:sandybrown;
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 30px;
	left: 10px;
	transition: 0.2s ease all;
    
}
.user-input-wrp input:hover ~ .floating-label,
.user-input-wrp input:not(:hover):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 15px;
	opacity: 1;
}

.user-input-wrp input:not(:hover):invalid ~ .floating-label{
	background-color: white
}

.bground-white
{
	background-color: rgba(255, 255, 255, 0.692);
	border-radius: 20px;
}